labs/sp-gda/gdaexpericence3/story_a_notificationservice_with_cosmosdb/deployment/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {},
    "variables": {
        "databaseAccounts_soloservicee_name": "[concat('contosoairsqlapi', uniqueString(resourceGroup().id))]",
        "workflows_AnalyzeReviews_name": "AnalyzeReviews",
        "connections_cognitiveservicestextanalytics_name": "cognitiveservicestextanalytics",
        "accounts_SoloServiceCognitiveService_name": "SoloServiceCognitiveService"
    },
    "resources": [
        {
            "type": "Microsoft.CognitiveServices/accounts",
            "sku": {
                "name": "S1"
            },
            "kind": "TextAnalytics",
            "name": "[variables('accounts_SoloServiceCognitiveService_name')]",
            "apiVersion": "2016-02-01-preview",
            "location": "westus",
            "properties": {},
            "dependsOn": []
        },
        {
            "apiVersion": "2015-04-08",
            "type": "Microsoft.DocumentDB/databaseAccounts",
            "name": "[variables('databaseAccounts_soloservicee_name')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "displayName": "DocumentDB"
            },
            "properties": {
                "name": "[variables('databaseAccounts_soloservicee_name')]",
                "databaseAccountOfferType": "Standard"
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "name": "[variables('workflows_AnalyzeReviews_name')]",
            "apiVersion": "2016-06-01",
            "location": "southcentralus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "review": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "review"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@triggerBody()",
                            "actions": {
                                "Detect_Sentiment": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "text": "@{item()['Review']}"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['cognitiveservicestextanalytics']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/sentiment"
                                    }
                                },
                                "Increment_variable": {
                                    "runAfter": {
                                        "Detect_Sentiment": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "IncrementVariable",
                                    "inputs": {
                                        "name": "Total_Score",
                                        "value": "@body('Detect_Sentiment')?['score']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Total_Score",
                                        "type": "Float",
                                        "value": 0
                                    }
                                ]
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "inputs": {
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "cognitiveservicestextanalytics": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connections_cognitiveservicestextanalytics_name'))]",
                                "connectionName": "cognitiveservicestextanalytics",
                                "id": "/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/cognitiveservicestextanalytics"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('connections_cognitiveservicestextanalytics_name'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "name": "[variables('connections_cognitiveservicestextanalytics_name')]",
            "apiVersion": "2016-06-01",
            "location": "southcentralus",
            "properties": {
                "displayName": "SoloServiceCognitiveService",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/', variables('connections_cognitiveservicestextanalytics_name'))]"
                }
            },
            "dependsOn": []
        }
    ],
    "outputs": {
        "cosmosDBEndpointUri": {
            "type": "string",
            "value": "[reference(concat('Microsoft.DocumentDb/databaseAccounts/', variables('databaseAccounts_soloservicee_name'))).documentEndpoint]"
        },
        "cosmosDBKey": {
            "type": "string",
            "value": "[listKeys(resourceId('Microsoft.DocumentDb/databaseAccounts/', variables('databaseAccounts_soloservicee_name')), '2015-04-08').primaryMasterKey]"
        },
        "cosmosDbAcc": {
            "type": "string",
            "value": "[variables('databaseAccounts_soloservicee_name')]"
        },
        "logicApp": {
            "type": "string",
            "value": "[variables('workflows_AnalyzeReviews_name')]"
        },
        "textAnalytics": {
            "type": "string",
            "value": "[variables('connections_cognitiveservicestextanalytics_name')]"
        },
        "cognitiveService": {
            "type": "string",
            "value": "[variables('accounts_SoloServiceCognitiveService_name')]"
        },
        "myResourceGroupName": {
            "type": "string",
            "value": "[resourcegroup().name]"
        }
    }
}